#root {
  margin: 0;
  padding: 0rem;
  text-align: center;
  font-size: large;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/blippo-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "MyCustomFont", sans-serif;
}
